name: Copy Changelog To Fancymenu

on:
  push:
    branches-ignore:
      - main

jobs:
  process-changelog:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5

      - name: Detect if CHANGELOG.md changed
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            changelog:
              - "CHANGELOG.md"

      - name: Run script to process CHANGELOG
        if: steps.changes.outputs.changelog == 'true'
        run: |
          echo "CHANGELOG.md was edited. Processing..."

          mkdir -p config/fancymenu/assets

          sed 's/\*/-/g' CHANGELOG.md > config/fancymenu/assets/CHANGELOG_fancy_copy.md

      - name: Show processed file (debugging)
        if: steps.changes.outputs.changelog == 'true'
        run: |
          echo "Processed file content:"
          cat config/fancymenu/assets/CHANGELOG_fancy_copy.md

      - name: Commit and push if changed
        if: steps.changes.outputs.changelog == 'true'
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git add config/fancymenu/assets/CHANGELOG_fancy_copy.md

          if ! git diff --cached --quiet; then
            git commit -m "Update FancyMenu changelog copy"
            git push
          else
            echo "No changes to commit."
          fi
