name: Copy Changelog To Fancymenu

on:
  push:
    branches-ignore:
      - main
jobs:
  check-file:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5.0.0

      - name: Get list of changed files
        id: changes
        run: |
          echo "changed_files=$(git diff --name-only HEAD~1 HEAD | tr '\n' ' ')" >> $GITHUB_OUTPUT

      - name: Debug changed files
        run: |
          echo "Changed files: ${{ steps.changes.outputs.changed_files }}"

      - name: Run script if target file changed
        if: contains(steps.changes.outputs.changed_files, 'CHANGELOG.md')
        run: |
          echo "CHANGELOG.md was edited. Processing..."
          # Replace "*" with "-" and output to new file
          sed 's/\*/-/g' CHANGELOG.md > CHANGELOG_fancy_copy.md

      - name: Show processed file (for debugging)
        if: contains(steps.changes.outputs.changed_files, 'CHANGELOG.md')
        run: |
          echo "Processed file content:"
          cat CHANGELOG_fancy_copy.md
